
.p1 { border-style: solid; 
   border-width: 5px;
   border-color: rgb(114, 26, 196);
   padding: 40px;
  }
.p2 {border-style: solid; 
   border-width: 10px;
   border-color: rgb(206, 80, 7);
   padding: 20px;
  
}
.p3 {border-style: solid; 
   border-width: 100px;
   border-color: rgb(9, 167, 17);
   padding: 10px;
  
}
